<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Taichi.js | Playground</title>

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"/>

        <style>
        .canvas {
            align: center;
        }
        </style>
    </head>

    <body class="mdui-theme-layout-auto mdui-theme-accent-pink mdui-theme-primary-indigo">
        <div class="mdui-toolbar mdui-color-theme">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
            <span class="mdui-typo-title">Taichi.js Playground</span>
            <div class="mdui-toolbar-spacer"></div>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">refresh</i></a>
            <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></a>
        </div>

        <div class="mdui-container mdui-m-t-2">

            <div class="mdui-row">
                <div class="mdui-card mdui-col-xs-6 mdui-m-l-1 mdui-m-r-1">
                      <div class="mdui-card-media">
                        <div class="mdui-textfield mdui-textfield-floating-label">
                            <textarea class="mdui-textfield-input" rows="24" placeholder="Code here" id="text-code">
import taichi as ti
ti.init()
#####################################

img = ti.Vector.field(3, float, (512, 512))

@ti.kernel
def paint(t: float):
    for i, j in img:
        img[i, j] = ti.cos(ti.Vector([i / 512, j / 512 + 2, i / 512 + 4]) + t) * 0.5 + 0.5

paint(0)

#####################################
gui = ti.GUI(show_gui=False)
gui.set_image(img)
</textarea>

                        </div>
                    </div>

                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-raised mdui-hoverable mdui-ripple mdui-color-theme-accent" id="button-run">Run</button>
                    </div>
                </div>

                <div class="mdui-card mdui-col-xs-5 mdui-m-l-1 mdui-m-r-1">
                  <div class="mdui-card-media">
                    <canvas class="mdui-img-fluid mdui-img-rounded mdui-center mdui-valign mdui-m-t-1" id="canvas" height="512" width="512">HTML5 not supported on your browser :(</canvas>
                  </div>
                  <div class="mdui-card-actions">
                    <button class="mdui-btn mdui-ripple">Save</button>
                    <button class="mdui-btn mdui-ripple">Share</button>
                  </div>
                </div>
            </div>

            <div class="mdui-textfield mdui-textfield-floating-label">
                <textarea class="mdui-textfield-input" rows="25" placeholder="Output will be displayed here" id="text-output" disabled></textarea>
            </div>
        </div>

        <script src="//cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"></script>
        <script src="/taichi.js"></script>

        <script>
        $(function() {
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = 'indigo';
            ctx.fillRect(0, 0, 512, 512);

            function playTemplateSetImage(program) {
                let canvas = document.getElementById('canvas');
                let gui = new TaichiGUI(canvas, 512);

                let paint = program.get('paint') || program.get('render');
                let vector_to_image = program.get('vector_to_image') || program.get('tensor_to_image');

                let frame = 0;
                gui.animation(function() {
                    frame++;

                    program.set_arg_float(0, frame * 0.04);
                    paint();
                    let extr = program.set_ext_arr(0, [gui.resx, gui.resy, 4]);
                    vector_to_image();

                    gui.set_image(extr);
                });
            }

            function loadScript(url) {
                $.ajax({
                    url: url,
                    datatype: 'script',
                    success: function(res) {
                        console.log('Successfully loaded:', url);
                        var program = new Taichi(Module);

                        program.ready(function() {
                            playTemplateSetImage(program);
                        });
                    },
                    error: function(xmlhr, err, exc) {
                        alert('Error loading compiled script:', err, exc);
                    },
                });
            }

            $('#button-run').click(function() {
                $('#text-output').val('Compiling...');
                var code = $('#text-code').val();
                $.ajax({
                    type: 'POST',
                    url: '/upload',
                    data: {code: code},
                    datatype: 'json',
                    success: function(res) {
                        console.log('Server compile result:', res);
                        $('#text-output').val(res.output);
                        if (res.status == 'success') {
                            loadScript(res.javascript);
                        }
                    },
                    error: function(xmlhr, err, exc) {
                        alert('Error connecting server:', err, exc);
                    },
                });
            });
        });
        </script>
    </body>
</html>
