<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Taichi.js | ${{ shader_name }}</title>

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"/>
        <link href="https://cdn.bootcdn.net/ajax/libs/codemirror/5.35.0/codemirror.min.css" rel="stylesheet">

        <style>
        .canvas {
            align: center;
        }
        </style>
    </head>

    <body class="mdui-theme-layout-auto mdui-theme-accent-pink mdui-theme-primary-indigo">
        <div class="mdui-toolbar mdui-color-theme">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: 'Menu'}" mdui-menu="{target: '#toolbar-attr'}"><i class="mdui-icon material-icons">menu</i></a>
            <ul class="mdui-menu mdui-menu-cascade" id="toolbar-attr">
                <li class="mdui-menu-item">
                <a href="/new" class="mdui-ripple">New shader..</a>
                </li>

                <li class="mdui-menu-item">
                <a href="/" class="mdui-ripple">Browse shaders..</a>
                </li>

                <li class="mdui-menu-item">
                <a href="/settings" class="mdui-ripple">Settings</a>
                </li>

                <li class="mdui-divider"></li>

                <li class="mdui-menu-item">
                <a href="https://github.com/taichi-dev/taichi.js/issues/new" class="mdui-ripple">Feedback</a>
                </li>

                <li class="mdui-menu-item">
                <a href="/help">Help</a>
                </li>
            </ul>

            <span class="mdui-typo-title">Taichi.js</span>
            <div class="mdui-toolbar-spacer"></div>
            <a href="/help" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons" mdui-tooltip="{content: 'Help'}">help_outline</i></a>
            <a href="https://github.com/taichi-dev/taichi.js" target="_blank" class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-tooltip="{content: 'GitHub'}">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve" class="mdui-icon" style="width: 24px;height:24px;">
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#ffffff" d="M18,1.4C9,1.4,1.7,8.7,1.7,17.7c0,7.2,4.7,13.3,11.1,15.5
	c0.8,0.1,1.1-0.4,1.1-0.8c0-0.4,0-1.4,0-2.8c-4.5,1-5.5-2.2-5.5-2.2c-0.7-1.9-1.8-2.4-1.8-2.4c-1.5-1,0.1-1,0.1-1
	c1.6,0.1,2.5,1.7,2.5,1.7c1.5,2.5,3.8,1.8,4.7,1.4c0.1-1.1,0.6-1.8,1-2.2c-3.6-0.4-7.4-1.8-7.4-8.1c0-1.8,0.6-3.2,1.7-4.4
	c-0.2-0.4-0.7-2.1,0.2-4.3c0,0,1.4-0.4,4.5,1.7c1.3-0.4,2.7-0.5,4.1-0.5c1.4,0,2.8,0.2,4.1,0.5c3.1-2.1,4.5-1.7,4.5-1.7
	c0.9,2.2,0.3,3.9,0.2,4.3c1,1.1,1.7,2.6,1.7,4.4c0,6.3-3.8,7.6-7.4,8c0.6,0.5,1.1,1.5,1.1,3c0,2.2,0,3.9,0,4.5
	c0,0.4,0.3,0.9,1.1,0.8c6.5-2.2,11.1-8.3,11.1-15.5C34.3,8.7,27,1.4,18,1.4z"></path>
      </svg>
    </a>
        </div>

        <div class="mdui-container mdui-m-t-2">

            <div class="mdui-row">
                <div class="mdui-card mdui-col-xs-6 mdui-m-l-1 mdui-m-r-1">
                      <div class="mdui-img-fluid mdui-img-rounded mdui-center mdui-valign mdui-m-t-1" class="mdui-card-media">
                        <textarea rows="24" placeholder="Code here" id="text-code">
import taichi as ti
import numpy as np
import hub

img = ti.Vector.field(3, float, (512, 512))

@hub.kernel
def render(t: float):
    for i, j in img:
        a = ti.Vector([i / 512, j / 512 + 2, i / 512 + 4])
        img[i, j] = ti.cos(a + t) * 0.5 + 0.5

hub.bind_image(img)
</textarea>
                    </div>

                    <div class="mdui-card-actions mdui-m-t-1 mdui-m-b-1">
                        <button class="mdui-btn mdui-btn-raised mdui-icon-left mdui-hoverable mdui-ripple mdui-color-theme-accent mdui-float-left" mdui-tooltip="{content: 'Launch shader'}" id="button-run"><i class="mdui-icon material-icons">play_arrow</i> Run</button>
                        <div class="mdui-chip mdui-float-left mdui-valign">
                            <span class="mdui-chip-title" mdui-tooltip="{content: 'Shader status'}" id="label-status">idle</span>
                        </div>
                        <button class="mdui-btn mdui-btn-icon mdui-hoverable mdui-ripple mdui-float-right" mdui-tooltip="{content: 'Shader settings..'}" mdui-dialog="{target: '#dialog-settings'}"><i class="mdui-icon material-icons">settings</i></button>
                        <button class="mdui-btn mdui-btn-icon mdui-hoverable mdui-ripple mdui-float-right" mdui-tooltip="{content: 'Load a template..'}" mdui-dialog="{target: '#dialog-load'}"><i class="mdui-icon material-icons">folder_open</i></button>
                        <button class="mdui-btn mdui-btn-icon mdui-hoverable mdui-ripple mdui-float-right" mdui-tooltip="{content: 'Save this shader'}" id="button-save"><i class="mdui-icon material-icons">save</i></button>
                        <div class="mdui-chip mdui-float-right mdui-valign">
                            <span class="mdui-chip-title" mdui-tooltip="{content: 'Save/load status'}" id="label-savestatus">unsaved</span>
                        </div>
                    </div>
                </div>

                <div class="mdui-card mdui-col-xs-5 mdui-m-l-1 mdui-m-r-1">
                  <div class="mdui-card-media">
                    <canvas class="mdui-img-fluid mdui-img-rounded mdui-center mdui-valign mdui-m-t-1" id="canvas" height="512" width="512">HTML5 is not supported on your browser :(</canvas>
                  </div>
                  <div class="mdui-card-actions mdui-m-t-1 mdui-m-b-1">
                    <button class="mdui-btn mdui-btn-icon mdui-btn-raised mdui-hoverable mdui-ripple mdui-valign mdui-color-theme mdui-float-left" mdui-tooltip="{content: 'Pause/Start'}" id="button-pause"><i class="mdui-icon material-icons" id="icon-pause">pause</i></button>
                    <div class="mdui-chip mdui-float-left mdui-valign mdui-m-l-1">
                        <span class="mdui-chip-title" mdui-tooltip="{content: 'Frames per second'}" id="label-fps">-- FPS</span>
                    </div>
                    <button class="mdui-btn mdui-btn-icon mdui-ripple mdui-float-right" mdui-tooltip="{content: 'Reset simulation'}" id="button-reset"><i class="mdui-icon material-icons">refresh</i></button>
                  </div>
                </div>

                <!--div class="mdui-col-xs-6 mdui-m-t-1 mdui-m-l-1 mdui-m-r-1">
                    <div class="mdui-panel mdui-panel-popout" mdui-panel>
                        <div class="mdui-panel-item">
                            <div class="mdui-panel-item-header"><i class="mdui-icon material-icons">settings</i> &nbsp; Advanced settings...</div>
                            <div class="mdui-panel-item-body">
                                <div class="mdui-textfield mdui-textfield-floating-label">
                                    <label class="mdui-textfield-label">Server address</label>
                                    <input class="mdui-textfield-input" type="text" id="text-server-addr"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>

            <div class="mdui-textfield mdui-textfield-floating-label">
                <textarea class="mdui-textfield-input mdui-img-rounded" rows="25" placeholder="Output will be displayed here" id="text-output" disabled></textarea>
            </div>
        </div>

        <div class="mdui-dialog" id="dialog-load">
            <div class="mdui-dialog-title">Load a template</div>
            <div class="mdui-dialog-content">
            <p>What's the shader's ID you'd like to load as a template?</p>
            <div class="mdui-textfield">
                <input class="mdui-textfield-input" type="text" placeholder="Shader ID" id="text-load-name"/>
            </div>
            </div>
            <div class="mdui-dialog-actions">
                <button class="mdui-btn mdui-ripple" mdui-dialog-confirm id="button-load">OK</button>
                <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>Cancel</button>
            </div>
        </div>

        <script src="//cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/codemirror/5.35.0/codemirror.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/codemirror/5.35.0/mode/python/python.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/codemirror/5.35.0/addon/selection/active-line.min.js"></script>

        <script src="/taichi.js"></script>
        <script src="/hubview.js"></script>

        <script>
        var editor = CodeMirror.fromTextArea(document.getElementById('text-code'), {
            lineNumbers: true,
            indentUnit: 4,
            styleActiveLine: true,
            matchBrakets: true,
            mode: 'python',
            lineWrapping: false,
            theme: 'default',
            foldGutter: true,
            gutters: ['CodeMirror-linenumbers', 'CodeMirror-foldgutter'],
        });

        editor.setOption('extraKeys', {
            Tab: function(cm) {
                var spaces = Array(cm.getOption('identUnit') + 1).join(' ');
                cm.replaceSelection(spaces);
            },
        });

        var taichihub = {};

        $(function() {
            editor.setSize('100%', 496);

            var canvas = document.getElementById('canvas');
            var shaderName = {{ shader_name|tojson }};
            taichihub = new HubView(canvas, editor, shaderName);
            taichihub.bindButtons();
        });
        </script>
    </body>
</html>
